{"slack":{"bot_token":"xoxb-",
          "app_token":"xapp-",
          "notification_channel":"C"},
 "tidyhq":{"token":"",
           "ids":{"slack":""}},
 "google":{"calendar_id":"@group.calendar.google.com"},
 "debug":true,
 "download_dir":"./"}