 {
    "slack": {
        "bot_token": "xoxb-",
        "user_token": "xoxp-",
        "app_token": "xapp-1-",
        "notification_channel": "CXXX",
        "status": {
            "Member": ":+1:",
            "Committee": ":+1:"
        },
        "status_override": [
            {
                "user": "UABC",
                "status": "Member"
            }
        ]
    },
    "tidyhq": {
        "token": "CHANGEME",
        "ids": {
            "slack": "abcd",
            "members": [
                123
            ],
            "committee": [
                456
            ]
        }
    },
    "google": {
        "calendar_id": "XXX@group.calendar.google.com"
    },
    "debug": true,
    "download_dir": "./"
}